@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

svg {
    display: block;
}

html,
body {
    color: #fffd;
    font-family: 'Roboto Mono', monospace;
    background-color: #121212;
}

button {
    color: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

:root {
    /** COLORS */
    --color-1: #602b00;
    --color-2: #119933;
    --color-3: #b1a144;
    --color-4: #22afaa;
    --color-5: #3cffaa;

    /** */
    --accordion-padding: 1rem;
    --accordion-gap: 1rem;
    --svg-size: 2.2rem;
    --svg-padding: .2rem;
    --svg-heading-gap: 1rem;
    --time: .5s;
}

.accordion-holder {
    height: 40rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap: var(--accordion-gap);
    contain: content;
}

.accordion {
    flex-basis: calc(var(--svg-size) + var(--accordion-padding) * 2);
    padding: var(--accordion-padding);
    border-radius: calc((var(--svg-size) + var(--accordion-padding)) / 2);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    cursor: pointer;
    transition: flex-grow var(--time);
}

.accordion::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000044;
    z-index: -1;
    transition: background-color var(--time);
}

.active {
    flex-grow: 1000;
}

.active::before {
    background-color: #000000aa;
}

.accordion_1[class~='active'],
.accordion_1:focus-within {
    outline: .1rem solid var(--color-1);
    outline-offset: .2rem;
}

.accordion_2[class~='active'],
.accordion_2:focus-within {
    outline: .1rem solid var(--color-2);
    outline-offset: .2rem;
}

.accordion_3[class~='active'],
.accordion_3:focus-within {
    outline: .1rem solid var(--color-3);
    outline-offset: .2rem;
}

.accordion_4[class~='active'],
.accordion_4:focus-within {
    outline: .1rem solid var(--color-4);
    outline-offset: .2rem;
}

.accordion_5[class~='active'],
.accordion_5:focus-within {
    outline: .1rem solid var(--color-5);
    outline-offset: .2rem;
}

.accordion button {
    display: flex;
    align-items: center;
    gap: var(--svg-heading-gap);
}

.accordion button:focus,
.accordion button:focus-visible {
    outline: none;
}

.accordion button span {
    font-size: 1rem;
    font-weight: 600;
}

.accordion button svg {
    width: var(--svg-size);
    height: var(--svg-size);
    padding: var(--svg-padding);
    background-color: #121212;
    border-radius: calc(var(--svg-size) / 2);
}

.accordion p {
    margin-block-start: .5rem;
    margin-inline: calc(var(--svg-size) + var(--svg-heading-gap));
    color: #deee;
    font-size: .9rem;
    transform: translateY(2rem);
    opacity: 0;
}

.active p {
    transition: transform var(--time) calc(var(--time) - .1s), opacity var(--time) calc(var(--time) - .1s);
    opacity: 1;
    transform: translateY(0);
}

.accordion img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: -2;
}

@media (max-width: 768px) {
    .accordion-holder {
        height: 45rem;
        padding: 1rem;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    :root {
        --accordion-padding: .6rem;
        --svg-size: 2rem;
    }

    .accordion p {
        font-size: .8rem;
    }

    .accordion button span {
        font-size: .9rem;
    }
}