*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #e2e2e2;
	font-family: monospace;
	background-color: #070815;
}

a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

main {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs:hover .indicator,
.tabs:focus-within .indicator {
	--_scale: 0;
	--_translate: 100%;
	--_scale-delay: 200ms;
	--_transition-delay: 120ms;
}

.tabs__item {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.tabs__item:hover .indicator,
.tabs__item:focus-within .indicator {
	--_scale: 1;
	--_translate: 0;
	--_scale-delay: 0ms;
	--_transition-delay: 0ms;
}

.tabs__item:hover + .tabs__item .indicator,
.tabs__item:focus-within + .tabs__item .indicator {
	--_translate: -100%;
	--_transition-delay: 0ms;
}

.indicator {
	--_duration: 300ms;
	--_timing-function: linear(
		0 0%,
		0 1.8%,
		0.01 3.6%,
		0.03 6.35%,
		0.07 9.1%,
		0.13 11.4%,
		0.19 13.4%,
		0.27 15%,
		0.34 16.1%,
		0.54 18.35%,
		0.66 20.6%,
		0.72 22.4%,
		0.77 24.6%,
		0.81 27.3%,
		0.85 30.4%,
		0.88 35.1%,
		0.92 40.6%,
		0.94 47.2%,
		0.96 55%,
		0.98 64%,
		0.99 74.4%,
		1 86.4%,
		1 100%
	);

	width: 100%;
	height: 0.15em;
	background-color: #f45;
	scale: var(--_scale, 0) 1;
	translate: var(--_translate, 1) 0;
	transition: scale var(--_duration) var(--_timing-function) var(--_scale-delay, 0ms),
		translate var(--_duration) var(--_timing-function) var(--_transition-delay, 0ms);
}
/* .tabs__item:nth-child(1) .indicator {
	background-color: rebeccapurple;
}
.tabs__item:nth-child(2) .indicator {
	background-color: steelblue;
}
.tabs__item:nth-child(3) .indicator {
	background-color: teal;
}
.tabs__item:nth-child(4) .indicator {
	background-color: coral;
}
.tabs__item:nth-child(5) .indicator {
	background-color: hotpink;
} */

.tabs__link {
	padding: 1em 2em;
	font-size: 1.15rem;
	flex: 1 1 0px;
}

.tabs__link:focus-visible {
	outline: none;
}
